<div class="container" style="margin-top: 140px">
  <h1>Search for Artist</h1>

  <section class="filter-wrapper">
    <div class="keyword-wrapper">
      <input [(ngModel)]="searchTerm" type="text" id="keyword" placeholder="Search for artists..." autofocus />
      <button type="submit" (click)="searchArtists(searchTerm)" class="btn btn-success">Submit</button>
    </div>
    <div>
      <ul class="filter-select" *ngIf="artistSearchResults.length > 0">
        <li class="filter-select-list" *ngFor="let artist of artistSearchResults">
          {{artist.artist_id}}
          {{artist.artist_name}}
          <img src="" alt="" width="50" height="50"><p class="artist-name"></p>
          <span class="tags"></span>
        </li>
      </ul>
    </div>
  </section>




  <form>
    <div class="form-group">
      <label for="name">Search Term</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    

  </form>
</div>

